.absence {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    span {
      font-size: 3.5rem;
    }
  }

  &__content {
    flex-direction: column;

    &__form {
      margin-top: 2em;
      display: flex;
      flex-direction: column;
      align-items: center;

      &-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;

        label {
          span {
            font-size: 2rem;
          }
        }

        input {
          margin-top: 6px;
          min-width: 18em;
          height: 37px;
          padding: 0px 10px;
          font-size: 16px;
          background-color: #f3f3f3;
          border: 0;
          border-radius: 4px;
          margin-bottom: 31px;
          transition: all 250ms ease-in-out;
          &:focus {
            outline: none;
            box-shadow: 0px 0px 12px 0.8px blue;
          }
        }
        select {
          margin-top: 6px;
          min-width: 18em;
          height: 37px;
          padding: 0px 10px;
          font-size: 16px;
          background-color: #f3f3f3;
          border: 0;
          border-radius: 4px;
          margin-bottom: 31px;
          transition: all 250ms ease-in-out;
          &:focus {
            outline: none;
            box-shadow: 0px 0px 12px 0.8px blue;
          }
        }
      }
    }
  }

  &__footer {
    margin-top: 3em;
    text-align: center;

    &__button {
      font-size: 21px;
      padding: 5px 20px;
      border: 0;
      background-color: #3498db;
      color: #fff;
      border-radius: 3px;
      transition: all 250ms ease-in-out;
      cursor: pointer;
      &:hover {
        background-color: #2386c8;
      }
      &:focus {
        outline: none;
      }
    }
  }
}
