.MyNavbar {
  background-color: #ff4d4d;
  position: fixed !important;
  width: 100 !important;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  line-height: 3rem;

  font-size: 1.5rem;

  a {
    color: #edebeb !important;
  }

  a:hover {
    color: #adadad !important;
  }

  &__link {
    margin-right: 5rem !important;
    font-size: 1.6rem;
  }
}
