/* .main-container {
  background: url("img/background/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
} */

.page-content {
  margin-top: 13rem;
  margin-bottom: 13rem;
}
